table, td, th {
  border: none;
  vertical-align:top;
  text-align: justify;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

th {
  text-align: left;
}

/* Change to blue on click */

a {
  -webkit-tap-highlight-color: rgb(127, 17, 224, 1);
}